@import "variables";

body {
  box-sizing: border-box;
  background-color: $background-color;
  height: 100%;
  font-family: $font-family-titillium-web;
  max-width: 1680px;
  min-width: 320px;
  margin: 0 auto;
}

body.lock {
  overflow: hidden;
}

.container {
  margin: $container-mobile;
}
