@import "variables";

section#jumbotron {
  display: grid;
  grid-template-columns: minmax(320px, 100%);
  grid-template-rows: minmax(180px, 10%) minmax(120px, 5%);

  .jumbotron__background {
    grid-row: 1;
    grid-column: 1;
    height: 50%;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .jumbotron__logo {
    grid-row: 1;
    grid-column: 1;
    height: 100%;
    align-content: center;
    justify-self: center;
    width: fit-content;
    display: grid;
    * {
      grid-row: 1;
      grid-column: 1;
      margin: 0;
    }

    .jumbotron__logo-body {
      width: fit-content;

      h1 {
        font-style: italic;
        font-weight: 600;
        font-size: 3.2em;
        text-align: center;
        color: $title-color;
        line-height: 130%;
      }

      h6 {
        color: $subtitle-color;
        letter-spacing: 0.01em;
      }
      h6:first-child {
        text-align: left;
        font-size: 0.8em;
        line-height: 0;
      }
      h6:last-child {
        text-align: right;
        font-size: 0.9em;
        letter-spacing: 0.01em;
        line-height: 100%;
      }
    }
  }

  .jumbotron__image {
    grid-row: 2;
    grid-column: 1;
    justify-self: start;
    align-self: start;
    width: 65%;
    max-width: 400px;
    height: auto;
  }
}

@media screen and (min-width: $breakpoint-tablet) {
  section#jumbotron {
    grid-template-rows: minmax(300px, 20vh);

    .jumbotron__background {
      height: 100%;
    }

    .jumbotron__logo {
      justify-self: start;
      margin-left: 10%;

      .jumbotron__logo-body {
        h1 {
          font-weight: 700;
          font-size: 4.2em;
        }

        h6:first-child {
          font-size: 1em;
        }
        h6:last-child {
          font-size:  1.1em;
        }
      }
    }
    .jumbotron__image {
      grid-row: 1;
      grid-column: 1;
      align-self: end;
      justify-self: end;
      margin-right: 8vw;
      transform: translate(0, 40%);
      width: fit-content;
      max-width: 700px;
    }
  }
}
