$background-color: #FAFAFA;
$font-family-titillium-web: Titillium Web, titillium-web;

// breakpoints
$breakpoint-tablet: 768px;
$breakpoint-pc: 1024px;

// colors
$dark-grey: #333333;
$white: #F2F2F2;
$pink: #F50A4D;
$grey: #4F4F4F;
$middle-grey: #EBEBEB;
$middle-grey-half-opacity: #EBEBEB77;

$title-color: $pink;
$title-font-weight: 700;
$title-font-style: italic;
$title-font-size-mobile: 2.2em;
$title-font-size-desktop: 2.4em;

$subtitle-color: $dark-grey;
$main-color: $grey;

$container-mobile: 0 5%;
$container-title-mobile: 0 0 0 5%;
$container-desktop: 0 10%;
$section-padding-top-mobile: 80px;
$section-padding-top-desktop: 12%;

// header
$header-background-color: $dark-grey;
$header-button-color: $pink;
$header-color: $white;
$header-size: 60px;
$header-burger-menu-color: $white;

// footer
$footer-background-color: $dark-grey;
$footer-button-color: $grey;
$footer-color: #E0E0E0;
$footer-form-color: $white;
$footer-form-border-color: $footer-button-color;


// car
$car-main-info-background: $middle-grey;


